/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.flash.error
{
  margin: 0 auto;
  width: 75%;
  border: 1px solid #E65555 collapse;
  background-color: #EF9A9A;
  padding: 3px;
}

.flash.notice
{
  margin: 0 auto;
  width: 75%;
  border: 1px solid #E6E655 collapse;
  background-color: #EFEF9A;
  padding: 3px;
}

.group{
  background-color: #fcf8e3;
}

ul {
  border-bottom: solid 1px #efefef;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0px auto;
  display: none;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}